[manifest]
version = "1.0.0"
dump_lua = true
priority = 99999999

[[patches]]
[patches.pattern]
target = "game.lua"
pattern = '''boot_timer('splash prep', 'end',1)'''
position = "after"
payload = '''
if not SMODS then
    local function normalize_path(path)
        return path:gsub("\\+", "/"):gsub("/+", "/"):gsub("/$", "")
    end
    local function split_last(path)
        path = normalize_path(path)
        local parent, last = path:match("^(.-)/([^/]+)$")
        if not parent then
            return "", path
        end
        return parent, last
    end

    local normalized_path = normalize_path("{{lovely_hack:patch_dir}}")
    local mods_folder_path = normalize_path(require("lovely").mod_dir)

    local invalid_mod_path = normalized_path .. "/HandyBalatro"
    local correct_path = mods_folder_path .. "/HandyBalatro"

    error(string.format(
                [[


Handy mod installed incorrectly.

Right now it's placed in %s, which is called "Nested folder".
To make it work properly, move mentioned folder in %s,
so result mod directory should be %s
]],
        invalid_mod_path,
        mods_folder_path,
        correct_path
    ))
end
'''
match_indent = true
overwrite = false
